* {
    box-sizing: border-box;
}
:root {
    --blue1: rgb(68, 81, 130);
    --blue2: rgb(131, 208, 199);
    --blue3: rgb(50, 51, 63);
    --dark: rgb(28, 29, 33);
    --light: #fff;
}

body {
    background-color: var(--light) ;
    color: var(--blue1);
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

header {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue3);
    padding:18px 40px 18px 0px ;
    justify-content:space-between;
}

h1 {
    color: var(--blue3);
    background-color: var(--blue2);
    margin: 0px;
    padding: 0px 8px 0px 60px;
    font-weight:bolder;
}

navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    padding: 2px 4px 2px 4px;
    font-size: 1.2rem;
}

navbar a {
    margin: 0px 5px;
    padding: 0px 10px;
    color: var(--blue2);
    font-weight: bolder;
    position: relative;
    text-decoration: unset;
    background-image: linear-gradient(90deg, var(--blue2), var(--blue2));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90% 3px;
}

.banner {
    display: flex;
    background-image: url("./images/pexels-jeremy-müller-10980177.jpg");
    height: 145px;
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 10px 10px;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--blue3);
}

.banner h2 {
    background-color: var(--blue2);
    color: var(--blue3);
    margin: 0%;
    padding: 0px 8px;
    font-size: 2rem;
    display: inline;
}

main {
    max-width: 80%;
    margin: 0 12%;
}

.big-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    justify-content: space-between;
    align-items: stretch;
}


.big-section h2 {
    text-align: right;
    border-right: 5px solid var(--blue1);
    font-size: 200%;
    flex-basis: 10%;
    padding-right: 2%;
    margin: 1%;
}

.big-section h3 {
    text-align: right;
    border-right: 5px solid var(--blue1);
    font-size: 200%;
    flex-basis: 10%;
    padding-right: 2%;
}

.small-section h6 {
    border-bottom: 5px solid var(--blue1);
    text-align: left;
    font-size: 200%;
    flex-basis: 10%;
}

.big-section div {
    flex-basis: 80%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 3px solid var(--blue2);
    margin: .5%;
    padding: 0px 0px 18px 0px;
    min-height: 130px;
    max-height: 130px;
    display: flex;
    align-items: flex-end;
    color: var(--blue3);
    text-decoration: none;
    background-size: 130%;
    flex-basis: 48%;
    transition: all 1s;
    background-blend-mode:soft-light;
    background-color: var(--blue1);
}

.flex-item:hover {
    background-color: rgba(0, 0, 0, .2);
}

.flex-item > .project {
    background-image: linear-gradient(90deg, var(--blue2), var(--blue2));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 44% 80%;
    background-position-x:left;
    color: var(--dark);
    padding: 10px 12px;
}

.flex-item:first-child {
    min-height: 380px;
    flex-basis: 100%;
}

.flex-item h4, h5 {
    align-items: flex-start;
    font-weight: bolder;
}

.small-section links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

links a {
    text-decoration: unset;
    display: inline-flex;
    color: var(--blue3);
    background-image: linear-gradient(90deg, var(--blue1), var(--blue1));
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    font-weight: bolder;
}
.project-1 {
    background-image: url("./images/pexels-chase-yaws-11403953.jpg");
}

.project-2 {
    background-image: url("./images/pexels-eugene-golovesov-3468711.jpg");
}

.project-3 {
    background-image: url("./images/pexels-jan-kopřiva-6384610.jpg");
}

.project-4 {
    background-image: url("./images/pexels-lisa-fotios-11334018.jpg");
}

.project-5 {
    background-image: url("./images/pexels-yulia-pribytkova-8664598.jpg");
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 10px;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    h1 {
        padding: 2%;
        margin-bottom: 10px;
        width: 100%;
        font-size: 300%;
    }
    navbar {
        display: inline;
        justify-content: center;
    }
    .big-section h2 {
        flex: 0 0 100%;
        border-bottom: 5px solid var(--blue1);
        border-right: 0;
        text-align: left;
        font-size: 200%;
    }
    .big-section h3 {
        flex: 0 0 100%;
        border-bottom: 5px solid var(--blue1);
        border-right: 0;
        text-align: left;
        font-size: 200%;
    }
    .flex-item > .project {
        background-image: linear-gradient(90deg, var(--blue2), var(--blue2));
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 52% 80%;
        background-position-x:left;
        color: var(--dark);
        padding: 10px 12px;
    }
}

@media screen and (max-width:768px) {
    .banner {
        justify-content: center;
    }
    .flex-item {
        flex-basis: 100%;
    }
    .flex-item:first-child {
        flex-basis: 100%;
        min-height: 130px;
    }
    .small-section {
        align-items: flex-start;
    }
    .small-section links {
        flex-direction: column;
        align-items: flex-start;
        line-height: 2.5;
    }
    .flex-item > .project {
        background-image: linear-gradient(90deg, var(--blue2), var(--blue2));
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 30% 75%;
        background-position-x:left;
        color: var(--dark);
}